html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
.container{
    margin-top:30px
}

.container h3{
   margin-bottom: 30px;
}

.prod-card {
    min-height : 220px;
    margin-bottom: 8px;
    cursor : pointer;
}
.edit-icon {
   margin-right: 10px;
}
.home-icon{
  cursor: pointer;
}
.card-footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.add-prod-btn {
   float : right;
}

.add-prod-btn span{
   font-size: 16px;
}

.back-txt{
   float: right;
}